@media (max-width: 375px) {

    .main {
        padding: 1.4em;
    }

}

@media (max-width: 425px) {

    .main {
        margin: 2em;
        padding: 2em;
    }

    .main .header {
        width: 100%;
        padding: 0;
    }

    .main .container .item {
        padding: 1.8em 2em;
    }

    .main .header > .title, .sub-title {
        font-size: 1.5em;
    }

    .main .header .sub-title {
        margin-bottom: 1em;
    }
}