@media (max-width: 375px) {

    .main {
        padding: 1.4em;
    }

    .main .header {
        width: 100%;
        padding: 0;
        margin-bottom: 3em;
    }

    .main .header > .title, .sub-title {
        font-size: 1.5em;
    }

    .main .header .sub-title {
        margin-bottom: 1em;
    }
}