:root {
    --borda-team-builder: hsl(0, 78%, 62%);
    --borda-supervisor: hsl(180, 62%, 55%);
    --borda-karma: hsl(34, 97%, 64%);
    --borda-calculator: hsl(212, 86%, 64%);
    --titulo-subtitulo: hsl(234, 12%, 34%);
    --paragrafo: hsl(229, 6%, 66%);
    --branco: hsl(0, 0%, 98%);
}